body {
  background-color: #d2e1f1;
}
.fcontainer {
  width: 60%;
  display: flex;
  background-color: #ffffff;
  margin-left: 20%;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.left {
  display: flex;
  flex-direction: column;
  background-color: #bfe4fe;
  width: 50%;
  align-items: center;
}
.left_logo {
  width: 70%;
  object-fit: contain;
}
.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#welcomeLogin {
  margin-top: 15%;
  margin-bottom: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
  font-weight: 500;
  color: #012349;
}
.right p {
  margin-top: 5%;
  font-size: 160%;
}
.right input {
  margin-top: 5%;
  width: 60%;
  padding: 10px 0px 10px 10px;
  font-size: 100%;
}

.right button {
  background-color: #164a84;
  margin-top: 5%;
  margin-bottom: 15%;
  width: 60%;
  height: 40px;
  color: #ffffff;
  font-size: 120%;
  border-radius: 5px;
}
.right i {
  margin-left: 2%;
  color: white;
}
.right button:hover {
  cursor: pointer;
  background-color: #012349;
}

.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /* max-width: 1500px; */
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 60px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: flex-start;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100vw;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  .left {
    display: none;
  }
  .right {
    width: 100%;
  }

  .fcontainer {
    margin: 5%;
    margin-top: 10%;
    width: 90%;
  }
}

/* Styling for single product */

.product-card {
  position: relative;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  margin-bottom: 2%;
}
.product-card .logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card .logo-cart img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.product-card .logo-cart i {
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}
.product-card .logo-cart i:hover {
  color: #333;
}
.product-card .main-images {
  position: relative;
  height: 210px;
}
.product-card .main-images img {
  position: absolute;
  height: 200px;
  width: 300px;
  object-fit: cover;
  z-index: -1;
  transition: opacity 0.5s ease;
}

.product-card .shoe-details .shoe_name {
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}
.product-card .shoe-details p {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
.product-card .shoe-details .stars i {
  margin: 0 -1px;
  color: #333;
}
.product-card .color-price {
  display: flex;
  align-items: center;
}
.color-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.color-price .color {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}
.color-price .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-price .price .price_num {
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}
.color-price .price .price_letter {
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}
.product-card .button {
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}
.product-card .button .button-layer {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg, #9708cc, #43cbff, #9708cc, #43cbff);
  transition: all 0.4s ease;
  border-radius: 25px;
}
.product-card .button:hover .button-layer {
  left: 0;
}
.product-card .button button {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.product_container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* style for cart  */

.cart_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.cart_products {
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: #ffffff;
}

.product-image img {
  width: 300px;
}
.product-image {
  object-fit: cover;
}
.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.product-price {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-quantity {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-removal {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title,
.product-price {
  font-size: 130%;
}
.product-quantity input {
  height: 40px;
  font-size: 110%;
}

.product-removal button {
  width: 80%;
  height: 40px;
  color: #ffffff;
  background: red;
  border-radius: 5px;
  font-size: 110%;
}
.product-removal button:hover{
  cursor: pointer;
}

.cart_col{
  margin: 2rem 2rem 2rem;
  border: black solid 1px;
  width: fit-content;
  padding: 1rem;
}
.checkout_button{
  margin-top: 1rem;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #012349;
  font-size: 110%;
}

.home_welcome {
  text-align: center;
  margin: 3rem 1rem 3rem;
  font-size: 200%;
}

.payment_container{
  display:flex;
  justify-content: center;
  margin-top: 3rem;
}

.payment_details{
  border: black solid 2px;
  padding: 2rem;
}
.payment_input{
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  font-size: 110%;
  border-radius: 2px;
}

.payment_button{
  margin-top: 1rem;
  width: 100%;
  height: 40px;
  font-size: 110%;
  color: #ffffff;
  background-color: #012349;
  border-radius: 5px;
}

.payment_note{
  text-align: center;
  margin: 2rem 5rem 0rem;
  font-size: 150%;
}
@media only screen and (max-width: 630px) {
  .payment_note{
    font-size: 100%;
  }
}
@media only screen and (max-width: 445px) {
  .payment_note{
    font-size: 80%;
    margin: 2rem 0;
  }
}

